<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1. January</key>
	<dict>
		<key>1. Mini Muncher</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>2. JomJom</key>
		<dict>
			<key>markAsNewGame</key>
			<true/>
			<key>iconURL</key>
			<string>https://www.creativeidsupply.com/Guarantee21.jpg</string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/download?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21116&amp;authkey=AMy8J3VRIxODmTk</string>
		</dict>
	</dict>
	<key>4. Test 2</key>
	<dict>
		<key>test</key>
		<dict>
			<key>markAsNewGame</key>
			<true/>
			<key>iconURL</key>
			<string>https://ssl.vn/wp-content/uploads/2016/12/Free_SSL_logo_rounded.png</string>
			<key>zipURL</key>
			<string>https://5onedrive.live.com/download?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21118&amp;authkey=AN11uKzRNc_EKts</string>
		</dict>
	</dict>
</dict>
</plist>
