<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> </key>
	<dict>
		<key>Airport Buzz</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Alfy</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Astro Digger</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Battle FIsh</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Beach Bar</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Bike Tyke</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Black Away</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Blocks Mania</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Blue Blox 2</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Bob The Robber</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Bricks Crush</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Bunny Run</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Butterfly Bash</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Captain Rogers - Defense of Karmax-3</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Cartoon Flight</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Castle Dash</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Chick Rush</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Chimps Ahoy</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Codename Fox</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Cookie Maze</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Cookie Time</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Cute Towers 2</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Darwinism</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Darwinism 2048</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Donutosaur</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Dragon Dash</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Dragons Trail</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Drones</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Elevator Miner</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Epic Ice Cream</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Extreme Kitten</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Farm Invaders</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Farmington</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Feed the Dragon</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Feed the figures</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Fishy Adventures</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Forest Wars</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Galaxy Commander</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Go Go Morty</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Hit &amp; Miss</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Ice Cream Pirates</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Jagged</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Jelly Slice</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Jungle Run</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Kick Trick</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mango Mania</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mighty Motors</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mini Mall</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mini Putt Garden</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mixed World</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mortys Stunts</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Mushroom Haboom</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>My Adventure Book</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>My Adventure Book 2</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Myth &amp; Hero</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Normal Cat</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Nut Rush</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Omit Orange</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Pebble Boy</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Pet Sports</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Piggy In The Puddle</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Pilot Heroes</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Pizza Rush</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Planet Sort</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Pop Pop Rush</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Powerbots</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Purple Mole</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Quadron</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Rainbow Star Pinball</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Red Riding Hood Run</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Rhino Rink</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Rolling Rick</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Sallys BBQ Joint</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Skater Dude</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Snack Time</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Snake Stretch</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Snakes Maze</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Sneaky James</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Snowball Champions</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Sprint Club Nitro</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Star Smash</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Sushi Train</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Svens Quest</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Teddy Bear Zombies</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>Temple Puzzle</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string></string>
		</dict>
		<key>_ABC Touch And Learn</key>
		<dict>
			<key>markAsNewGame</key>
			<true/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21219&amp;authkey=APLhRNi78y-sZw8</string>
		</dict>
		<key>_Blowball</key>
		<dict>
			<key>markAsNewGame</key>
			<true/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21189&amp;authkey=ABn-QRxPMZSBfCs</string>
		</dict>
		<key>_Fruit Gardener</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21191&amp;authkey=ALb8lLgSoKIWf0k</string>
		</dict>
		<key>_JomJom</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21188&amp;authkey=AHV7cKIDbM4P6dY</string>
		</dict>
		<key>_Jumping Rock</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21187&amp;authkey=AAW2WKJTKPmpYs8</string>
		</dict>
		<key>_Jungle Collapse</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21186&amp;authkey=AIKDLgdw-G6bfvA</string>
		</dict>
		<key>_Lazors</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21185&amp;authkey=AJ3bYfKz-j3GGB0</string>
		</dict>
		<key>_Maze Monster</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21184&amp;authkey=AAp1p7MPD-LkPZQ</string>
		</dict>
		<key>_Memory Race</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21220&amp;authkey=ADj91cwCO6BqhgQ</string>
		</dict>
		<key>_Mini Muncher</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21181&amp;authkey=AG_y9-3EWuYVu7A</string>
		</dict>
		<key>_Wipo</key>
		<dict>
			<key>markAsNewGame</key>
			<false/>
			<key>iconURL</key>
			<string></string>
			<key>zipURL</key>
			<string>https://onedrive.live.com/embed?cid=FFEB4D705259F2CB&amp;resid=FFEB4D705259F2CB%21183&amp;authkey=AH892kj9ANeaeYw</string>
		</dict>
	</dict>
</dict>
</plist>
